services:
  migrator:
    build:
      context: .
      dockerfile: Dockerfile
      target: migrator
    restart: no
    environment:
      - NODE_ENV=production
      - POSTGRES_DB=${POSTGRES_DB:?}
      - POSTGRES_USER=${POSTGRES_USER:?}
      - POSTGRES_SERVER=${POSTGRES_SERVER:?}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: api
    expose:
      - '5000'
    environment:
      - NODE_ENV=production
      - PORT=5000
      - POSTGRES_DB=${POSTGRES_DB:?}
      - POSTGRES_USER=${POSTGRES_USER:?}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:?}
      - POSTGRES_SERVER=${POSTGRES_SERVER:?}
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_SERVER}:5432/${POSTGRES_DB}
      - TOKEN=${TOKEN:?}
    healthcheck:
      test:
        [
          'CMD',
          'wget',
          '--no-verbose',
          '--tries=1',
          '--spider',
          'http://localhost:5000/live',
        ]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    depends_on:
      migrator:
        condition: service_completed_successfully
